/**
    Parte global
*/
*{
    margin: 0;
    padding: 0;
}
html{
    width: 1350px;
}
.menu-root{
    width: 100%;
}
.menu-root *{
    widows: 100px;;
}
/**
    Parte superior do menu
*/
.menu-root .parte-superior{
    width: 100%;
    height: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f5f5;
}
.menu-root .parte-inferior{
    background: rgb(196, 23, 12);
    width:100%;
    height: 50px;
}
.menu-root a{
    text-decoration: none;
}
.menu-root .links{
    position: relative;
    left:5%;
    width:100px;
    top:8px;
}
.menu-root .links .links_td a{
    padding-left: 10px;
}
#globo a{
    color:rgb(0, 60, 255);
}

#globoesporte a{
    color:rgb(91, 182, 31);
}
#g1 a{
    color:rgba(139, 37, 37, 0.925);
}
#gshow a{
    color:rgb(255, 155, 5);
}
#videos a{
    color:rgb(0, 60, 255);
}
.menu-root .parte-superior .userspace{
    position: relative;
    left: 75%;
    top:-15px;
}
.menu-root .parte-superior .userspace a{
    padding-right: 10px;
    color:rgba(123, 128, 128, 0.849);
    font-size: 14px;
}
#entrar a{
    position: relative;
    left:5px;
    color: rgb(44, 43, 23)
}
#entrar{
    background: #857878;
    box-shadow: 3px 1px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}


/**
    Parte inferior do menu
*/
.menu-root .parte-inferior{
    width:1350px;
}
.parte-inferior .menu {
    position: relative;
    top:13px;
    left: 3%;
    cursor: pointer;
    width: 70px;
}

.parte-inferior .menu p {
    position: relative;
    top:-54px;
    left:40%;
    color:white;
}
.menu_escondido{
    position: absolute;
    z-index:10;
    top:37px;
    height: 400px;
    background-color: blanchedalmond;
    width: 300px;
    left: -40px;
    display: none;
}
.menu_escondido ul li{
    padding:10px;
}
.menu_escondido ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

 .menu:hover .menu_escondido{
    display: block;
}

.parte-inferior .g1-logo{
    position: relative;
    left:50%;
    width:50px;
    font-size:30px;
    color:white;
    top:-75px;
}
/**  Pequisar  */
.pesquisar input{
    position: relative;
    top:-105px;
    left:85%;
    z-index:9;
}
/* Parte que será mostrada caso o usuário esteja logado */
#logado{
    position: relative;
    left:95%;
    width:30px;
    cursor: pointer;
    top:-20px;
}
#logado:hover #menu-suspenso{
    display: inline;
}
#menu-suspenso{
    display:none;
    position: absolute;
    background-color: rgb(201, 212, 194);
    left:-80px;
    width:150px;
    height: 100px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    z-index: 100;
}